#page-content-wrapper{
    position: relative !important;
    height: 100vh !important;
    width: 100% !important;
}

.container-map{
    height: calc(100vh - 90px);
    position: relative;
}
#map{
    height:calc(100vh - 66px);
}
.custom-acordion-header button {
  background-color: rgba(238,240,242, 0.3) !important;
}
.content-menu-button{
    position:absolute !important;
    top: 40%;
    z-index: 99;
    right:0  !important;
    margin-right: -39px;
}

.content-menu-button button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 45px !important;
    background: rgb(0 ,0 , 0) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-menu-button button .line-menu{
    width: 2px;
    height: 21px;
    color: #fff;
    background: #fff;
    margin: 2px;
}

.custom-dosts-vertical{
    background: none;
    color: #000;
    border: none;
    /* pointer-events: none;
    cursor: pointer; */
}

.custom-dots-vertical::after {
    display: none;
    border: none;
}

.custom-description-body{
    display: none !important;
    z-index: 9999;
    width: 20rem;
    position: absolute;
    left: 0;
    margin-left: 10rem;
    padding: 4px;
    top: 70%;
}

.custom-description-item:hover .custom-description-body {
    display: block !important;
}

.custom-content-logo img{
    width: auto; height:50px;
}

.custom-switch {
    position: relative;
}
.custom-switch input.form-check-input{
    opacity: 0;
}
  
.custom-switch .eye-open, .custom-switch .eye-closed {
    font-size: 1.5em; /* Ajusta el tamaño del icono según sea necesario */
    /* display: none; */
    position: absolute;
    top: 52%;
    left: -40%;
    transform: translate(-50%, -50%);
}
  
.custom-switch .icon.eye-fill {
    color: #0d6efd; /* Color del ojo abierto */
}
  
.custom-switch .bi.eye-closed {
    display: none;
}

.custom-switch input:not(:checked) + label .eye-open {
    display: none;
}
.custom-switch input:checked + label .eye-open {
    display: block;
}

.custom-switch input:not(:checked) + label .eye-closed {
    display: block;
}
.custom-switch input:checked + label .eye-closed {
    display: none;
}

.custom-content-menu-widgets{
    width: 45px;
    margin-right: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    top: 30%;
    right: 0px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);     
    padding: 4px; /* Reducir el padding */
    border-radius: 10px;
    align-items: center; 
}
.custom-menu-widget-item{
    border-radius: 50%;
    border: 0px !important;
    padding: 6px 8px;
    color: red;
    background: #000000;
    display: flex !important;
    justify-content: center;
    align-items: center; 
}
.custom-menu-widget-item img{
    margin: 0 !important;
}
.custom-menu-widget-item-tooltip {
    display: none;
    position: absolute;
    border: 50%;
    right: 0;
    margin-right: 44px;
    width: auto;
    white-space: nowrap;
    padding: 4px 8px;
    color: #fff;
    background: #000;
}
.custom-menu-widget-item:hover .custom-menu-widget-item-tooltip {
    display: block !important;
}

.custom-menu-widget-item-popup{
    display: none;
    position: absolute;
    border: 50%;
    right: 0;
    top: 50%;
    margin-right: 44px;
    width: 300px;
    height: 400px;
}

.custom-menu-widget-item-popup .card-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.custom-item-header-widget .custom-item-header-widget-icon:after{ display: none;}
.custom-item-header-widget .custom-item-header-widget-icon img{
    width: 2rem;
    height: 2rem;
}

.custom-button-tiktok-plus{
    bottom: 0;
    right: 1.5%;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-icon-close,
.custom-button-tiktok-plus .custom-button-tiktok-plus-icon-open{
    font-size: 2rem;
    font-weight: bold;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-icon-close{
    display: none;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-body{
    background-color: black;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-body-content-items {
    top: 0;
    background-color: transparent;
    width: 50px;
    right: -25px;
    top: calc(350px - 100vh);
    height: auto;
    height: calc(100vh - 350px);
    flex-direction: column;
    align-items: center;
    justify-content: end;
    display: none;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-widget{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    margin-top: 3px;
    margin-bottom: 4px;
}
.custom-button-tiktok-plus .custom-button-tiktok-plus-widget i{
    font-size: 1.6rem;
}

#customButtonTiktokContent.show-body .custom-button-tiktok-plus-icon-open{
    display: none !important;
}
#customButtonTiktokContent.show-body .custom-button-tiktok-plus-icon-close{
    display: block !important;
}
#customButtonTiktokContent.show-body .custom-button-tiktok-plus-body-content-items{
    display:  flex !important;
}

@media (min-width: 992px){
    /* .custom-item-header-widget .custom-item-header-widget-body{
        left: -100% !important;
    } */
}

@media (max-width: 768px){
    .custom-container-header-menu{
        display: flex;
        flex-direction: row-reverse;
    }
    .custom-button-tiktok-plus{
        right: 12%;
    }
}